<main class="quiz">
  <div class="left">
    <ng-container *ngIf="currentQuestion as question">
      <div class="question">
        {{ question.text }}
      </div>
      <div class="answers">
        <button *ngFor="let answer of question.answers" (click)="answerToQuestion(answer)">
          {{ answer }}
        </button>
      </div>
    </ng-container>
  </div>
  <div class="right">
    <div class="progress">
      <div *ngFor="let question of questions; let i = index">
        <div [class.correct]="question.userAnswer === true" [class.incorrect]="question.userAnswer === false">
          {{ i + 1 }}: {{ i * 5 }}$
        </div>
      </div>
    </div>
  </div>
</main>
